SAFFramework/Template/Source/MyTest/MyTest.Library.WindowsService/Service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by Michael Sollars (Fidelity National I.S.) -->
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="RunAs">
		<xs:sequence>
			<xs:element name="Domain" type="xs:string"/>
			<xs:element name="User" type="xs:string"/>
			<xs:element name="Password" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="InheritIdentity" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="Service">
		<xs:sequence>
			<xs:element name="File" type="xs:string"/>
			<xs:element name="RunAs" type="RunAs"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Service" type="Service"/>
	<xs:complexType name="Services">
		<xs:sequence>
			<xs:element name="Service" type="Service" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Services" type="Services"/>
</xs:schema>
